<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline-select">Airline:</label>
    <select name="airline" id="airline-select">
      <option></option>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <label for="airport-select">airport-select:</label>
    <select name="airport" id="airport-select">
      <option value="DEN" selected>DEN</option>
      <option value="DFW">DFW</option>
      <option value="LAX">LAX</option>
      <option value="AUS">AUS</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flight-number-input">Flight Number:</label>
    <input type="number" max=9999 min=10  name="flightNo" id="flight-number-input">
    <label for="date-input">Depart Date:</label>
    <input type="datetime-local" 
      name="departs" 
      min="2024-01-20T09:00" 
      id="date-input">
    <button type="submit">Submit</button>
  </form>
</main>

<%- include("../partials/footer") %>